<!DOCTYPE html>
<html>
<head>
  <title>About Me</title>
</head>
<body>
  <h1>About Me</h1>
  <img src="/images/profile.jpg" alt="Profile Picture">
  <p>My name is Ricky Racz. I am a software engineer with slight experience in front-end and back-end technologies.</p>
  <a href="/files/resume.pdf">Download Resume</a>
</body>
</html>
