<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <h1>Welcome to My Portfolio</h1>
  <p>Check out my projects, services, and contact me for more information.</p>
  <a href="/about">About Me</a>
  <a href="/contact">Contact</a>
  <a href="/projects">My projects</a>
  <a href="/services">other services</a>
</body>
</html>
