<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
</head>
<body>
  <h1>My Projects</h1>
  <div class="project">
    <img src="/images/project1.jpg" alt="Project 1">
    <h2>Project 1</h2>
    <p>Converter table written in C#.</p>
  </div>
  <div class="project">
    <img src="/images/project2.jpg" alt="Project 2">
    <h2>Project 2</h2>
    <p>exersises with Q&A.</p>
  </div>
    <p>Sorry there is only 2 projects and they are both not websites, My Pc was wiped by the end of last semester and I dont have access to the projects nor the sites they were hosted on.</p>
  </div>
</body>
</html>
